@import url('https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC');

html {
  font-family: 'Neucha', sans-serif;
}

p,
a,
button,
table,
thead,
tbody,
th,
tr,
td,
input,
select,
option {
  font-family: 'Neucha', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Patrick Hand SC', sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .8rem;
}
